@model Service.Models.PagedList<MonoProject.Models.ModelViewModel>
@{
    ViewBag.Title = "Index";
}
@using Service.Models;
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("filtering")
        <input type="submit" value="Search" />
    </p>
}
<form asp-action="Index" asp-controller="MakesController" method="post">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new
           {
               currentPage = ViewBag.Pagination,
               sorting = ViewBag.NameSortParm.Equals("name_desc") ? "name" : "name_desc",
               filtering = ViewBag.CurrentFilter
           })
            </th>
            <th>
                @Html.ActionLink("Abrv", "Index", new
           {
               currentPage = ViewBag.Pagination,
               sorting = ViewBag.NameSortParm.Equals("abrv_desc") ? "abrv" : "abrv_desc",
               filtering = ViewBag.CurrentFilter
           })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    <br />
    <ul class="pagination">
        @for (int i = 1; i <= Model.PaginationData.TotalPages; i++)
        {
        <li class="page-item">
            @if (i != Model.PaginationData.CurrentPage)
            {
                @Html.ActionLink(i.ToString(), "Index", new
           {
               currentPage = i,
               sorting = ViewBag.CurrentSort,
               filtering = ViewBag.CurrentFilter
           })
            }
            else
            {
            <a class="page-link">@i</a>
            }
        </li>
        }
    </ul>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
</form>

